.register__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}