.tool-tip__title{
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-top: 32px;
    width: 358px;
}